---
layout: default
---

{% assign about = site.data.copy.global[0] %}
{% assign welcome = site.data.copy.global[1] %}

<div class="container my-5">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <h1>{{ welcome.welcome }}</h1>
      <hr class="large" />
      <p>{{ about.about }}</p>
      <a href="/about" class="btn btn-secondary">Read More <i class="fa fa-arrow-right"></i></a>
    </div>
    <div class="col-md-6 col-sm-12 text-right">
      <img src="assets/images/dsa-healthcare-poster.png" width="50%" height="auto" />
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center">
      <i class="fa fa-arrow-down my-5 text-red"></i>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h3 class="my-5">Recent Statements</h2>
    </div>
    {% for post in site.posts limit:3 %}
    <div class="col-12">
      <h6 class="my-0 text-black-tint-2">{{ post.date | date: "%b %-d, %Y" }}</h6>
      <a class="my-0 article-link" href="{{ post.url }}">{{ post.title }}</a>
      <p>{{ post.short_description }}</p>
    </div>
  {% endfor %}
  </div>
</div>
